extends ../layouts/base.pug

block content
    include ../partials/header-admin.pug
    #content
        .admin__section
            .section__wrapper
                .admin__categories
                    a(href="/admin/dashboard").admin__categories--item.selected__item 상품관리
                    a(href="/admin/order").admin__categories--item 주문관리

                .admin__product__action--box
                    input(type="text", placeholder="이름 검색").search__input
                    a(href="/admin/dashboard/new").redirect--newProduct +
                table.admin__product__table
                    colgroup
                        col(style="width: 5%")
                        col(style="width: 10%")
                        col(style="width: 20%")
                        col(style="width: 35%") 
                        col(style="width: 20%")
                        col(style="width: 10%")                 
                    thead
                        th 번호
                        th 타입
                        th 제조사
                        th 이름
                        th 설명
                        th -
                    tbody
                        if products
                            each product, index in products
                                tr
                                    td #{index + 1}
                                    td #{product.productType}
                                    td #{product.productMaker}
                                    td
                                        .product__td--flex
                                            img(src=product.productImage)
                                            p #{product.productName}
                                    td.tdSmall #{product.productSubHead}
                                    td
                                        a(href=`dashboard/update?_id=${product._id}`) 수정
                                        a(_id=product._id).product__del--btn 삭제
                include ../partials/pagination.pug

block scripts
    script(src="/static/js/main.js")
    script(src="/static/js/page.js")
    script(src="/static/js/dashboard.js")