extends ../layouts/base.pug

block content
    include ../partials/header-admin.pug
    #content
        .admin__section
            .section__wrapper
                .admin__categories
                    a(href="/admin/dashboard").admin__categories--item 상품관리
                    a(href="/admin/order").admin__categories--item.selected__item 주문관리

                if order[0]
                    .estimate__infoBox
                        p.estimate__orderInfo 주문번호: #{order[0].orderNumber}
                        p.estimate__orderInfo 주문자명: #{order[0].clientName}

                    .shipping__form
                        .shipping__content
                            span.shipping__title Company
                            input(type="text" value=order[0].company).shipping__input.company__input
                        .shipping__content
                            span.shipping__title Tracking Number
                            input(type="text" value=order[0].trackingNumber).shipping__input.tracking__input
                        button.modifyShippingInfo(orderNumber=order[0].orderNumber) 배송정보 변경
                    




                

block scripts
    script(src="/static/js/main.js")
    script(src="/static/js/orderShipping.js")