extends ../layouts/base.pug

block content
    include ../partials/header-admin.pug
    #content
        .admin__section
            .section__wrapper
                .admin__categories
                    a(href="/admin/dashboard").admin__categories--item 상품관리
                    a(href="/admin/order").admin__categories--item.selected__item 주문관리

                if order[0]
                    .estimate__infoBox
                        p.estimate__orderInfo 주문번호: #{order[0].orderNumber}
                        p.estimate__orderInfo 주문자명: #{order[0].clientName}
                        button.estimateSendButton(orderNumber=order[0].orderNumber) 견적 수정
                        button.estimateEmailSendButton(orderNumber=order[0].orderNumber) 견적 발송
                table.order__estimate__table
                    colgroup
                        col(style="width: 15%")
                        col(style="width: 15%")
                        col(style="width: 50%")
                        col(style="width: 5%")
                        col(style="width: 15%")              
                    thead
                        th 타입
                        th 제조사
                        th 상품명
                        th 수량
                        th 견적
                        
                    tbody
                        if order[0]
                            each item in order[0].orderProducts
                                tr
                                    td #{item.product.productType}
                                    td #{item.product.productMaker}
                                    td.tdBox
                                        .table__product
                                            img(src=item.product.productImage)
                                            .product__info--box
                                                h1.product__info--title #{item.product.productName}
                                                p.product__info--subHead #{item.product.productSubHead}
                                    td #{item.productQuantity}
                                    td.tdPaymentBox
                                        | $
                                        input(type="text", required, value=item.estimate, productId=item._id, productQuantity=item.productQuantity).estimate__input
                if order[0]                
                    .order__estimate__footer
                        .current__footer__column
                            p.subtotal--head SUBTOTAL
                            p.subtotal--body $ #{subTotal.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}


                

block scripts
    script(src="/static/js/main.js")
    script(src="/static/js/orderEstimate.js")