extends layouts/base.pug

block content
    include ./partials/header-dark.pug
    #order
        #popupOverlay
        .order__section
            .order__wrapper
                include ./popups/order-result-howtopay-popup
                include ./popups/our-process-popup
                .order__main__categories
                    a(href="/cart") YOUR CART
                    a(href="/order").selected__category YOUR ORDER
                h1.order__enter--title.order__result--title YOUR ORDER (#{email})
                .order__current__process
                    .order__process__step
                        img(src="/static/images/order_icon.png").order__icon
                        .step__texts
                            p.order__process__step--text Order
                            p.order__process__popup--text.hide ddd
                    img(src="/static/images/process_active.png").process__img
                    img(src="/static/images/mobile_process_icon.png").process__mobile--img
                    .order__process__step
                        img(src="/static/images/payment_icon.png").payment__icon
                        .step__texts
                            p.order__process__step--text Payment
                            p.order__process__popup--text.howtopay How to pay

                    img(src="/static/images/process_deactive.png").process__img
                    img(src="/static/images/mobile_process_icon.png").process__mobile--img
                    .order__process__step
                        if order[0]
                            if order[0].process === 3
                                img(src="/static/images/shipping_icon.png").shipping__icon.brightness
                            else
                                img(src="/static/images/shipping_icon.png").shipping__icon
                        .step__texts
                            p.order__process__step--text Shipping
                            p.order__process__popup--text Shipping Info

                .global__product__list
                    .global__product__head--wrap
                        h1.product__list--head PRODUCT

                    .global__product__body--wrap
                        if order[0]
                            each item, index in order[0].orderProducts 
                                .global__product--item
                                    h4.product__item--head #{index+1}. #{item.product.productName}
                                    p.product__item--subhead #{item.product.productSubHead}
                                    .product__item__qtyBox
                                        p.product__qtyBox--result Qty
                                        p.product__qtyBox--result #{item.productQuantity}
                      
                .table__wrapper
                    table.order__table
                        colgroup
                            col(style="width: 10%")
                            col(style="width: 60%")
                            col(style="width: 10%")
                            col(style="width: 20%")

                        thead
                            th.order__table__head--text No.
                            th.order__table__head--text PRODUCT
                            th.order__table__head--text Qty
                            th.order__table__head--text PAYMENT
                        -function numberWithCommas(x) {
                        - return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                        - }
                        tbody
                            if order[0]
                                each item, index in order[0].orderProducts
                                    tr
                                        td.tdNum #{index+1}
                                        td.tdBox
                                            .table__product
                                                img(src=item.product.productImage)
                                                .product__info--box
                                                    h1.product__info--title #{item.product.productName}
                                                    p.product__info--subHead #{item.product.productSubHead}
                                        td.tdQtyBox #{item.productQuantity}
                                        td.tdPaymentBox $ #{numberWithCommas(item.estimate)}
                                

                .order__current__footer
                    .current__footer__column
                        button.ourprocess__btn Our process
                    .current__footer__column
                        p.subtotal--head SUBTOTAL
                        p.subtotal--body $ #{numberWithCommas(subTotal)}

                .order__mobile__estimates
                    .order__estimates__column
                        p.order__estimates--head PAYMENT
                        if order[0] 
                            each item, index in order[0].orderProducts
                                .order__estimates--content
                                    p.order__estimates--num No.#{index+1}
                                    p.order__estimates--estimate $ #{numberWithCommas(item.estimate)}
                    .order__estimates__column.subtotal__column
                        p.order__subtotal--head SUBTOTAL
                        .order__estimate--content
                            p.order__estimate__subtotal $ #{numberWithCommas(subTotal)}
                            p.mobile__Ourprocess Our process



block scripts
    script(src="/static/js/main.js")
    script(src="/static/js/global.js")
    script(src="/static/js/orderResult.js")
    
