extends layouts/base.pug

block content
    include ./partials/header-dark.pug
    #shop
        #popupOverlay
        .shop__section
            .shop__wrapper
                .shop__category__wrapper
                    .shop__main__categories
                        a(href="/shop").shop__main--category.selected__category INVERTER
                        a(href="/shop/module").shop__main--category MODULE
                        a(href="/shop/optimize").shop__main--category OPTIMIZE
                    .shop__sub__categories
                        each category in categoryList
                            if category.value === maker
                                a(href=`/shop?maker=${category.value}`).shop__sub--category.selected__category #{category.label}
                            else
                                a(href=`/shop?maker=${category.value}`).shop__sub--category #{category.label}
                .shop__products
                    each content in contents
                        .shop__product
                            .product__column
                                img(src=content.productImage)
                            .product__column.product__align
                                .product__title--box
                                    h1.product__name #{content.productName}
                                    p.product__subhead #{content.productSubHead}
                                .product__specs--box
                                    each spec in content.productSpecs
                                        .specs__column
                                            h3.product__spec--title #{spec.specTitle}
                                            p.product__spec--text #{spec.specSubTitle}
                                .product__action--box
                                    a(href=content.productDataSheet download).action__download--btn DOWNLOADS DATASHEET
                                    a(href="#").action__ordersheet--btn  ADD TO ORDER SHEET
                    else
                        p.notFound Not Found                                                                                                                                                                  
                include ./partials/pagination.pug

    //-include ./partials/footer.pug

block scripts
    script(src="/static/js/main.js")
    script(src="/static/js/page.js")
