extends layouts/base.pug

block content
    include ./partials/header-dark.pug
    #shop
        #popupOverlay
        .shop__section
            .shop__wrapper
                include ./partials/product-categories.pug
                include ./popups/shop-ordersheet-success-popup.pug
                .shop__products
                    each content in contents
                        .shop__product
                            include ./popups/shop-ordersheet-popup.pug
                            .product__column
                                img(src=content.productImage)
                            .product__column.product__align
                                .product__title--box
                                    h1.product__name #{content.productName}
                                    p.product__subhead #{content.productSubHead}
                                .product__specs--box
                                    each spec in content.productSpecs
                                        .specs__column
                                            h3.product__spec--title #{spec.specTitle}
                                            p.product__spec--text #{spec.specSubTitle}
                                .product__action--box
                                    a(href=content.productDataSheet download).action__download--btn DOWNLOADS DATASHEET
                                    a.action__ordersheet--btn(_id=content._id)  ADD TO ORDER SHEET
                    else
                        p.notFound Not Found                                                                                                                                                                  
                include ./partials/pagination.pug

    //-include ./partials/footer.pug

block scripts
    script(src="/static/js/main.js")
    script(src="/static/js/global.js")
    script(src="/static/js/page.js")
    script(src="/static/js/shop.js")