.shop__category__wrapper
    .shop__main__categories
        each mainCategory in mainCategoryList
            if mainCategory.value === productType
                a(href=mainCategory.target).shop__main--category.selected__category #{mainCategory.value}
            else
                a(href=mainCategory.target).shop__main--category #{mainCategory.value}
        
    .shop__sub__categories
        each category in categoryList
            if category.value === maker
                a(href=`/shop?maker=${category.value}`).shop__sub--category.selected__category #{category.label}
            else
                a(href=`/shop?maker=${category.value}`).shop__sub--category #{category.label}